* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pantallaInicio {
  background-color: $colorprimario;
}
.section__img1 {
  background-image: url(../img/inicio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  gap: 16rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Rampart One", cursive;
  font-weight: bold;
  color: $colorsecundario;
  font-size: 4rem;
}

.boton {
  border: none;
  cursor: pointer;
  height: 3rem;
  width: 10rem;
  background-color: $colortexto;
  border-radius: 2rem;
  display: block;
}
.boton a {
  text-decoration: none;
  font-family: "Alfa Slab One", cursive;
  color: $colorprimario;
  font-size: 20px;
}
.botonIngreso {
  display: none;
}

.boton a:hover {
  font-size: 25px;
  color: $colorsecundario;
  transition-duration: 0.5s;
}

.section__boton {
  margin: 1rem auto;
}
/*section usuario*/
.section__container--usuario {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Alfa Slab One", cursive;
  gap: 2rem;
  .section__usuario {
    color: $colorsecundario;
    .section__label {
      display: block;
      cursor: pointer;
    }
    .section__container--input {
      position: relative;
      .section__input {
        background-color: $colortexto;
        border-radius: 0.5rem;
        border: 3px solid transparent;
        height: 3rem;
        line-height: 2rem;
        transition: 0.3s ease all;
        text-align: center;
      }
      .section__input::placeholder {
        color: $colorsecundario;
        font-weight: bold;
      }
      .section__input:focus {
        border: 3px solid $colorsecundario;
        outline: none;
      }
      .section__input--icon {
        position: absolute;
        right: 0.3rem;
        bottom: 1rem;
        z-index: 5;
        font-size: 16px;
        opacity: 0;
      }
      .section__input--text {
        font-size: 10px;
        margin-bottom: 0;
        color: $colortexto;
        display: none;
      }
    }
  }
}
.correcto {
  color: #00a151;
}
