/* juego */
.pantallaJuego {
  background-color: $colorterciario;
}
.section__sonido--container {
  position: absolute;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  .section__sonido {
    position: relative;
    top: 4rem;
    left: 1.2rem;
    .section__sonido:hover {
      color: $colorsecundario;
      font-weight: bold;
    }
  }
  .section__sonido:hover {
    color: $colorsecundario;
    scale: 0.3;
  }
}
.section__juego {
  font-family: "Press Start 2P", cursive;
  color: $colortexto;
  overflow: hidden !important;
}
.fondo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100vw;
  overflow: hidden !important;
}
.fondo1 {
  background-image: url(../img/fondo1.jpg);
}
.fondo2 {
  background-image: url(../img/fondo2.jpg);
}
.fondo3 {
  background-image: url(../img/fondo3.jpg);
}
.fondo4 {
  background-image: url(../img/fondo4.jpg);
}
.fondo5 {
  background-image: url(../img/fondo5.jpg);
}
.section__pantalla {
  min-height: 100%;
  min-width: 100%;
}
#unicornio {
  background-image: url(../img/unicornio.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 9rem;
  width: 7rem;
  position: absolute;
  transition: all 2s ease;
  cursor: pointer;
  display: flex;
  margin-top: 4rem;
  margin-left: 6rem;
}
/*nubes*/
.nubeUno {
  background-image: url(../img/nube.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 6rem;
  width: 8rem;
  position: absolute;
  transition: all 2s ease;
  cursor: pointer;
  margin-top: 10rem;
  margin-left: 6rem;
}

.nubeDos {
  background-image: url(../img/nube2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 7rem;
  width: 7rem;
  position: absolute;
  transition: all 3s ease;
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 10rem;
}

.nubeTres {
  background-image: url(../img/nube.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 6rem;
  width: 8rem;
  position: absolute;
  transition: all 2s ease;
  cursor: pointer;
  margin-top: 20rem;
  margin-left: 12rem;
}

.nubeCuatro {
  background-image: url(../img/nube2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 7rem;
  width: 7rem;
  position: absolute;
  transition: all 3s ease;
  cursor: pointer;
  margin-top: 26rem;
  margin-left: 22rem;
}

.nubeCinco {
  background-image: url(../img/nube.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 6rem;
  width: 8rem;
  position: absolute;
  transition: all 2s ease;
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 25rem;
}
.nubes {
  display: none;
}
.mostrar {
  display: initial;
}

.puntos {
  height: 12vh;
  background-color: $colorterciario;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 12px;
}
.section__opcion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  background-color: $colorterciario;
  height: 8vh;
  padding-top: 1rem;
}

.botonDos {
  height: 2.5rem;
  width: 6rem;
  text-decoration: none;
  font-family: "Alfa Slab One", cursive;
  color: pink;
  font-size: 18px;
  z-index: 10;
}
.botonDos:hover {
  font-size: 25px;
  color: $colorsecundario;
  transition-duration: 0.5s;
  font-family: "Alfa Slab One", cursive;
  font-size: 20px;
}

.nivel {
  color: $colorsecundario;
}
